.body {
    position: relative;
    min-width: 78px;
    width: 250px;
    padding-top: 10px;
    height: inherit;

    overflow: auto;
    overflow-x: hidden;

    border-right: 3px solid #50c878;


    .page:first-child {
        margin-top: 0;
    }

    .page {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        margin-right: 3px;
        padding: 5px;

        width: calc(100% - 30px);
        height: 50px;

        border-radius: 15px;
        border: 2px solid #50c878;
        background-color: #1e5c3a;

        text-decoration: none;
        transition: .1s ease;

        .preview {
            border-radius: 7px;
            width: 50px;
            height: 50px;
        }

        .previewDiv {
            position: relative;
            width: calc(100% - 60px);
            height: 100%;

            .previewTitle {
                font-size: 18px;
                font-weight: normal;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .previewPrice {
                font-size: 14px;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #bbffd2;
            }
        }


    }

    .page:active {
        background-color: #1b221d;
    }

    z-index: 2;
}

.dragPanel {
    // cursor: pointer;
    position: absolute;
    top: 0;
    left: 250px;
    width: 5px;
    height: 100%;

    z-index: 10;
}

// .dragPanel:active {
//     cursor: e-resize;
// }

a {
    display: block;
}

.colors {
    background-color: #1e5c3a;
    background-color: #50c878;

    background-color: #1b221d;
}