.colors {
  background-color: #4ad66d;
  background-color: #1e5c3a;
  background-color: #50c878;

  background-color: #1b221d;
}

.body {
  display: flex;
  background-color: #1b221d;
  width: 100%;
  min-height: 910px;

  font-weight: bold;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  
}

.body button {
  margin: 10px;
}


.body img {
  width: 100px;
}
