.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(29, 48, 1);

    flex: 1;
    z-index: 1;

    .header {
        width: 100%;
        background-color: red;
        flex: 1;
    }

    .bodyApp {
        width: 100%;
        background-color: rgb(93, 60, 60);
        flex: 3;
    }

    .footer {
        width: 100%;
        background-color: red;
        flex: 1;
    }
}